{% extends 'worldapp/base.html' %}
{% block content %}
<ul class="list-articles">
<table>
  <tr>
  	<th>Town</th>
    <th>Country</th>
    <th>District</th>
    <th>Population</th>
  </tr>
	{% for p in posts %}
	  <tr>
		<td>{{p.name}}</td>
		<td>{{p.countrycode}}</td>
		<td>{{p.district}}</td>
		<td>{{p.population}}</td>
	  </tr>
	{% endfor %}
	  <tr>
  	<th>Cities in the list:</th>
    <th>{{count}}</th>
    <th>Population average:</th>
    <th>{{sumpopulation}}</th>
  </tr>
</table>

</ul>
{% endblock %}
